parameters:
	level: 4
	paths:
		- src
		- tests
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '/uninitialized readonly property/'
		- '/is assigned outside of the constructor/'
		- '/is already assigned/'
		- '#^Unsafe access to private property#'
