parameters:
	level: 3
	paths:
		- src
	ignoreErrors:
		- identifier: staticClassAccess.privateProperty
		- identifier: property.staticAccess
		- identifier: method.childReturnType
		  path: src/Dictionary.php
		- identifier: return.type
		  path: src/ObjectClass.php
		- identifier: paramOut.type
		  path: src/Scanner.php
		- identifier: varTag.nativeType
		  path: src/Networking/DiskEntry.php
